alembic==1.16.5
email-validator==2.3.0
fastapi==0.118.0
httpx==0.28.1
numpy==2.3.3
bcrypt==5.0.0
openai==1.107.2
pydantic-settings==2.11.0
psycopg[binary]==3.2.10
PyMuPDF==1.26.4
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
pytest==8.4.2
sqlalchemy==2.0.43
uvicorn[standard]==0.37.0
